body, html{
	box-sizing: border-box;
	margin:0 auto;
	padding: 0;
	width: 90%;
	font-family: Helvetica, Arial, sans-serif;
}

/*
headers
*/
h1{
	margin:0 auto;
	height: 1.5em;
	color: white;
	text-align: left;


}
.login{
	margin: auto;
	height: 3em;
	width: 6em;

}

.navbar{
	margin: auto;
	position: fixed;
	left: 10%;
	right: 10%;
	background-color: black;
	display: inline-flex;
	width: 90%%;
	
}
