body, html{
	box-sizing: border-box;
	margin:0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

/*
headers
*/
h1{
	margin-left: 6em;
	height: 1em;
	color: white;
	text-align: center;

}

.logButton{
	text-align: center;
	padding: 30px;
}

.logLink{
	color: white;
}


.navbar{
	margin: 0 auto;
	background-color: #333;
	width: 100%;
	height: 5em;
	display: inline-grid;
	grid-template-columns: 50% 50%;
}

header{
	position: relative;
	margin-top: 10px;
	height: 1.5em;
}

.mainBody{
	margin-left: 19em;
	width: 80%;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	font-weight: 900;
	height: 2em;
	margin: 0;
	padding: 0;
	color: hotpink;
}

.list,.list:link,.list:visited{
	color: hotpink;
	font-weight: 400;
}

.button,.button:link,.button:visited{
	background: #7e7f7f;
	text-decoration: none;
	color: white;
	border-style: solid;
	border-color: white;
	text-align: center; 
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 90px;
	border-width: 2px;
}

.button:hover{
	background-color: hotpink;
}
.buttonContainer{
	height: 30px;
	display: inline-flex;
}

