{% extends "navigation.html" %}
    {% block content %}
    <div class="mainBody">
    	<h2>Edit Movie {{m.name}}</h2>
		<form action="{{url_for('newMovie',genre_id=genre_id)}}" method="post">
			<h3>Movie Name</h3>
			<input type="text" size="30" name="name" placeholder="{{m.name}}">
			<h3>Movie Description</h3>
			<textarea type="text"	size="30" name="description" placeholder="{{m.description}}"></textarea> 
			<input type="submit" value="Create">	
		</form>	
		<a href= "{{url_for('showMovies', genre_id=m.genre_id)}}">Cancel</a>		
	</div>
	
	{% endblock %}
